
<p style="color: green"><%= notice %></p>

<h2>List of ratings</h2>
<ul>
  <% @ratings.each do |rating| %>
    <p>
    <li> <%= render rating %> <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %> </li>
    <p>
  <% end %>
</ul>
<p>Number of ratings: <%= @ratings.count %></p>

<p>
  <%= link_to "New rating", new_rating_path %>
</p>
